.Carro-Vacio{
  
    height: 100vh;
    text-align: center;
    padding: 10rem;
      .border-danger{
       
        margin: auto;
         .card-body{
              img{
                border-radius: 3px;
               
                }
        .btn-dark{
            margin-top: 1rem;
        }
    }
}

@media  (max-width: 780px){
   

    .border-danger{
       
        width: 70vw;
        margin-left: -7rem;
        
         .card-body{
            
              img{
                border-radius: 3px;
              
                width: 50vw;
                }
              .btn-dark{
            margin-top: 1rem;
                     }
    }
}


}

}

// fin carro vacio  no tocar responsive


//carro con productos
.Card-Finalizar{
      height: 90vh; 
      padding: 5rem;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
               .Horizontal-card{
                   margin: auto;
                   width: 35vw;
                   height: 30vh;
             .border-warning-finalizar{
                 border-color: rgba(224, 224, 26, 0.623);
                  width: 35vw;
                 height: 25vh !important ;
                  margin-top: 2rem;
                  height: 19vh;
                  display: flex;
                  flex-direction: row;  
                img{
                            padding: .3rem;
                         }
                 .btn-danger{
                       height: 3rem;
                       margin-top: 3rem;
                               }
                                     }
                           }//fin horizontal card


          .Card-CuentaTotal{
             text-align: center;
             margin: auto;
    
                                 }


 @media  (max-width: 1300px){
    display: flex;
    flex-direction: column;
                 .Horizontal-card{
                     margin: auto;
                     width: 45vw;
                      height: 30vh;
         
                .border-warning-finalizar{
                    width: 55vw;
                    height: 25vh !important ;
                    margin-top: 2rem;
                    height: 19vh;
                    display: flex;
                    flex-direction: row;  
                    border-color: rgba(224, 224, 26, 0.623);
          
                                               }
                                       }//fin horizontal card resp 1300
 }//fin res 1300


 @media  (max-width: 730px){
   
   
   /*  width: 100vw; */


                .Horizontal-card{
                  margin-left: -4.5rem;
                  width: 85vw;
                 height: 25vh;
         .card-text{
          
            width: 28vw;
           
            font-size: 12px;
                    }

          .border-warning-finalizar{
           
              width: 93vw;
              height: 25vh !important ;
              margin-top: 2rem;
              height: 19vh;
              display: flex;
              flex-direction: row;  
            
          
   }

   .btn-danger{
      
     margin-right: 7rem;

   }

      
}
.Card-CuentaTotal{
    margin-left: -2rem;
  
   }


 }//fin horizontal resp 520

 }




