.Quien-soy{
      height: 86vh;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-items: center;
      width: 100vw;
      margin: auto;


       img{
        width: 20vw;
        margin: auto;
        border: 2px;
        box-shadow: 2px 2px 3px rgb(173, 169, 170);
        

       }

       .card{
           border-color: aqua;
           margin: auto;
       
        p{
         height: 30vh;
           width: 25vw;
        padding:  4rem; 
        font-size: 17px;
        text-align: center;
        word-spacing: 2px;

       
       }
      
}

@media (max-width: 800px) {
 
  display: flex;
  flex-direction: column;
  height: 130vh;
  img{
    width: 60vw;
    
  }


.card{

  border-color: rgb(223, 46, 22);
  width: 70vw;
  margin-top: -3rem;

  p{
    width: 65vw;
    font-size: 3vw;
  }

}
 
  
}
@media (max-width: 500px) {
 
  display: flex;
  flex-direction: column;
  height: 130vh;
  img{
    width: 60vw;
    
  }


.card{

  border-color: rgb(223, 46, 22);
  width: 75vw;
  margin-top: -3rem;

  p{
    
    width: 75vw;
    font-size: 4vw;
    margin: auto;
    margin-top: -3rem;
    
  }

}
 
  
}


}