
/* Esta etiqueta p viene de Item.jsx */
p{
    width: 18rem;
    height: 2rem;
   
}
.ver-todo{
    width: 80vw;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 5rem;
    margin-top: 5rem;

}