
/* .detalleProducto{
    max-width: 10rem;
}  */
/*  .App{
    background-color: aqua;
}  */

 /* .pikachuMode{

    background-color: rgba(255, 255, 0, 0.747);
    color: rgba(255, 0, 0, 0.767);
    
}  */
 .pikachuMode{
    background-color: rgb(238, 241, 33);
    color:rgb(216, 25, 25);
    transition: all ease 2s ;
}  