
/* .detalleProducto{
    max-width: 10rem;
}  */
/*  .App{
    background-color: aqua;
}  */

 /* .pikachuMode{

    background-color: rgba(255, 255, 0, 0.747);
    color: rgba(255, 0, 0, 0.767);
    
}  */
 .pikachuMode{
    background-color: rgba(234, 238, 17, 0.664);
    color:rgba(216, 25, 25, 0.815);
    transition: all ease 2s ;
    
}  